body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

.slimContainer {
    position: relative;
    margin: 20px auto;
    width: 290px;
}
.slimContainer hr {
    margin-bottom: 10px;
}
.slimContainer .row {
    width: 280px;
    display: block;
    margin: 5px;
    vertical-align: middle;
    position: relative;
}
.slimContainer .row.info {
    margin-top: 10px;
}
.slimContainer .row > span {
    float: left;
}
.slimContainer .row.option > span {
    width: 270px;
}
.slimContainer .row.option > span {
    line-height: 30px;
}
.slimContainer .row > span.r {
    float: right;
}

.paramRow {
	margin: 5px;
}

.paramSelector {
	position: absolute;
	right: 10px;
}
.paramEntry {
	position: absolute;
	right: 10px;
}

.timeToLanding {
	color:red;
	font-weight: bold;
	font-size:5em;
}

.dataAgeHeader {
	color:black;
	font-weight: bold;
	text-decoration: underline;
	font-size:1em;
}
.dataAgeOK {
	color:black;
	font-weight: bold;
	font-size:1em;
}
.dataAgeBad {
	color:red;
	font-weight: bold;
	font-size:1.5em;
}

.largeTableRow {
	font-size:200%;
}

.logText {
	font-size:70%;
}

#followPayloadButton {
	width:45px;
	height:45px;
	font-size:20px;
}

#followCarButton {
	width:45px;
	height:45px;
	font-size:20px;
}


.custom_label {
    background: rgba(0, 0, 0, 0) !important;
    border: none !important;
    font-size: 12px;
    font-weight: bold;
	color: black;
	text-shadow:
		-1px -1px 2px #FFF,  
		1px -1px 2px #FFF,
		-1px 1px 2px #FFF,
		 1px 1px 2px #FFF;
    box-shadow: none !important;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}